<p>creacion-bulto works!</p>


    <!-- 
        Este componente permite ingresar la informacion general del bulto. Es un formulario con los campos:
            
        -Descripcion, Volumen, 
        -Organizacion Donante
        -Crear paquete: un boton "siguiente" te redirige a otro componente,"creacion-paquete" (Los paquetes son armados
        cuando se recibe un bulto).
        -Se visualizan los paquetes creados, conlos datos: ubicacion, tipo de productos, peso, cantidad de productos. Se 
        cuenta con un boton para ver los detalles del paquete, editar, y eliminar.
        -Efectivizar el bulto: boton "FINALIZAR" se pone en "TRUE" revisado y almacena el bulto y redirige al
        comp "lista-bultos". La variable estado se pone en "recibido" 

        Dudas: 

        1) en el modelo de lb se encuentra el atributo "fecha_disponibilidad". Que hago con eso ?
        3) variable estado
        

        Aclaracion

        Hay dos tipos de bultos, uno parcial que sera incresado por la organizacion 
        donante y luego el operario hara efectivo el bulto completando los datos necesarios y armando
        los paquetes
    -->