<p>lista-bultos-donante works!</p>

 <!-- 
        Este componente tiene una lista de bultos de los cuales a simple vista solo se verá un 
        la fecha de carga, descripcion. A traves de este componente se puede
        realizar las siguientes acciones:
            
        -crear bulto: te redirige a un nuevo componente "ingreso-bulto". 
        -Por cada bulto se permite: ver detalles, editar y eliminar (o cancelar).

        
        Sugerencias:

        1) Cuando quiero ver un bulto de la lista, presionar un boton con el simbolo de un "ojito" 
        y se abrirá una ventana emergente que permite visualizar los datos dentro del componente 
        2) Si quiero editar un bulto sería mejor hacer lo mismo, es decir, editarlo en una ventana
        emergente sin necesidad de cambiar de componente ?

        Dudas:

        1) Se puede eliminar un bulto o se cancela ?

    -->