<p>ingreso-bulto works!</p>


    <!-- 
        Este componente permite ingresar la informacion general del bulto. Es un formulario con los campos:
            
        -Descripcion, Volumen, 
        -fecha de disponibilidad.
        -fecha de vencimiento.  
        -boton "FINALIZAR": se pone en "FALSE" revisado y almacena el bulto y redirige al
        comp "lista-bultos-donante". La variable estado se pone en "PENDIENTE DE RETIRO" 
        

        Aclaracion

        Hay dos tipos de bultos, uno parcial que sera incresado por la organizacion 
        donante y luego el operario hara efectivo el bulto completando los datos necesarios y armando
        los paquetes
    -->