<p>creacion-paquete works!</p>

    <!-- 
        Este componente permite ingresar la informacion general del paquete. Es un formulario con los campos:
            
        -Ubicacion, 
        -Seleccionar categoría o tipo de productos. (los paquetes se arman por tipo de producto)
        -Cargar productos: una lista de productos de los cuales se verá tipo deproducto (categoria), nombre,
         codigo de barra, peso (ej: 1kg). Acciones:
            
            -Seleccionar un producto de una lista. 
            -Crear nuevo producto: te dirige a un nuevo componente o sobre el mismo componente a traves de una
            ventana emergente
            -Editar producto: ventana emergente o te redirige a un nuevo comp.
            cuando se recibe un bulto.
        -Finalizar creacion del paquete: un boton "finalizar".(Te redirige al componente "informacion-general-bulto") 
    -->